.gray {
    color: gray;
}

.reveal .slides code .fragment.grow.visible,
.reveal .slides code .fragment.grow {
    transition: none;
    transform: none;

    margin: -2px;
    padding: 1px;
}

.reveal .slides code .fragment.grow.visible {
    border: 2px solid red;
}

.reveal .slides code .fragment.grow {
    border: 2px solid transparent;
}

.reveal .console::before {
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: initial;

    color: black;
    content: 'Console';

    background-image: url('../images/mac-os-x-buttons.png');
    background-color: #D6D6D6;
    background-repeat: no-repeat;
    background-position-y: center;

    border-left: 8px solid #D6D6D6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.reveal .console code {
    background: #232323;

    font-size: 20px;
    line-height: initial;

    border: 2px solid #D6D6D6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.reveal pre {
    font-size: 0.85em;
}

.reveal pre.size-S {
    font-size: 0.75em;
}

.reveal pre.size-XS {
    font-size: 0.65em;
}

.reveal section img {
    background: none;
}

.reveal section td {
    vertical-align: middle;
}

.reveal section .pos:before,
.reveal section .neg:before {
    margin-right: 15px;
}

.reveal section .pos,
.reveal section .neg {
    text-align: left;
}

.reveal section .pos:before {
    content: '✓';
    color: #a1b56c !important;
}

.reveal section .neg:before {
    content: '✗';
    color: #992200 !important;
}

.reveal section>div.list {
    width: 60%;
    margin: auto;
}
